/**
* Pixel2HTML - <%= projectId %>
*/

@import '_variables';
@import '_mixins';
@import '_reset';


// screens:start
@import 'screens/_base';
<% for(var i=1; i<=qtyScreens; i++) {%>
@import 'screens/screen_<%=i%>';<% } %>
// screens:end

// components:start
@import 'components/_header';
@import 'components/_footer';
@import 'components/_nav';
@import 'components/_forms';
@import 'components/_buttons';
// components:end
