/**
* Pixel2HTML - <%= projectName %>
*/

@import 'variables.styl';
@import 'mixins.styl';

// pages:start
@import 'pages/_home.styl';
// pages:end

// components:start
@import 'components/_header.styl';
@import 'components/_footer.styl';
@import 'components/_nav.styl';
@import 'components/_buttons.styl';
// components:end
