<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>
    <%= clientId %>/<%= projectId %> - Screen <%= screenNumber %>
  </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <% if(frontEndFramework){ %>
  <link rel="stylesheet" href="assets/dist/css/<%= frontEndFramework %>.min.css">
  <% } %>
  <link rel="stylesheet" href="assets/dist/css/main.min.css">

</head>

<body>
  <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->


  <% if(jQuery){ %>
  <script src="assets/dist/js/jquery.min.js"></script>
  <% } %>
  <% if(frontEndFramework){ %>
  <script src="assets/dist/js/<%= frontEndFramework %>.min.js"></script>
  <% } %>
  <script src="assets/dist/js/main.min.js"></script>
</body>

</html>
