<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= projectName %> - Screen <%= screenNumber %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- build:css -->
    🐼🐼🐼🐼 Everything here will be replaced with the compiled CSS 🐼🐼🐼🐼
    <!-- endbuild -->
  </head>

  <body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <h1><%= projectName %> - Screen <%= screenNumber %></h1>
    <p>Time to code 🐟</p>
    <!-- build:js -->
    🐼🐼🐼🐼 Everything here will be replaced 🐼🐼🐼🐼
    <!-- endbuild -->
  </body>
</html>
